<dx-tree-list
  id="employees"
  [dataSource]="items || []"
  itemsExpr="children"
  dataStructure="tree"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [autoExpandAll]="true"
>
  <dxi-column
    dataField="description"
    dataType="string"
    width="200"
  ></dxi-column>
  <dxi-column
    dataField=""
    cellTemplate="cellTemplate"
    alignment="center"
    [minWidth]="40"
  ></dxi-column>

  <div *dxTemplate="let data of 'cellTemplate'">
    <div class="actions">
      <dx-button
        stylingMode="contained"
        text="config"
        type="success"
        (onClick)="config(data)"
      ></dx-button>
      <dx-button
        stylingMode="contained"
        text="add child"
        type="default"
        (onClick)="add(data)"
      ></dx-button>
      <dx-button
        stylingMode="contained"
        text="delete"
        type="danger"
        (onClick)="delete(data)"
      ></dx-button>
    </div>
  </div>
</dx-tree-list>
