.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgreen;
}

.item-hierarchy {
  flex: 1;
  padding: 5px;
}

.item-configuration {
  flex: 1;
  padding: 5px;
}

.result {
  width: 600px;
  margin: auto;
}
